<!DOCTYPE html>
<html>
<head>
    <title>Home1</title>
    <link rel="stylesheet" href="/public/static/libs/magicsearch/jquery.magicsearch2.css">
    <link rel="stylesheet" type="text/css" href="/public/static/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/static/libs/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/public/static/libs/bootstrap-datepicker/datepicker3.css">

    <% for(var key in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>">
    <% } %>
</head>
<body>
<div class="wrap">
    <div class="header">
        <p class="header__info"><i class="fa fa-home"></i> Home</p>
        <img class="header__img" src="../../public/static/imgs/kl/scrat.png" width="200" height="200">
        <p>
            <input type="text" class="magicsearch-input">
            <input type="text" class="date-input">
            <input type="text" class="bg-input">
        </p>
    </div>
    <div id="box"></div>
</div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/public/static/libs/magicsearch/jquery.magicsearch2.js"></script>
    <script src="/public/static/libs/layer/layer.js"></script>
    <script src="/public/static/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="/public/static/libs/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js"></script>

    <% for(var key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
</body>
</html>
