
@import 'util/variable';
@import 'util/mixin';
@import 'util/header';

.header {
    &__info {
        font-weight: 700;

    }

    &__img {
        border: none;
        border-radius: 50%;
    }
}
