<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>

    
    <link rel="stylesheet" href="/public/static/dist/js/../css/detail.css?c0f4e718">
    
</head>
<body>
<div class="wrap">
    <div class="header">
        <p class="header__info">Detail</p>
        <img class="header__img" src="../../public/static/imgs/kl/kl.jpg" width="200" height="200">
    </div>
</div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    
    <script src="/public/static/dist/js/vendor.js?acf5818553b960df7de6"></script>
    
    <script src="/public/static/dist/js/common.js?6df0f13b"></script>
    
    <script src="/public/static/dist/js/detail.js?c3e101b9"></script>
    
</body>
</html>
