<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>

    <% for(var key in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>">
    <% } %>
</head>
<body>
<div class="wrap">
    <div class="header">
        <p class="header__info">Detail</p>
        <img class="header__img" src="../../public/static/imgs/kl/kl.jpg" width="200" height="200">
    </div>
</div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <% for(var key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
</body>
</html>
